In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("C:\\Users\\sanjay\\Documents\\All working files\\data\\machine learning data\\spam.csv",encoding='latin')
df

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN
...,...,...,...,...,...
5567,spam,This is the 2nd time we have tried 2 contact u...,NaN,NaN,NaN
5568,ham,Will Ì_ b going to esplanade fr home?,NaN,NaN,NaN
5569,ham,"Pity, * was in mood for that. So...any other s...",NaN,NaN,NaN
5570,ham,The guy did some bitching but I acted like i'd...,NaN,NaN,NaN
5571,ham,Rofl. Its true to its name,NaN,NaN,NaN

In [5]:
df = df.drop(columns=['Unnamed: 2','Unnamed: 3','Unnamed: 4'])

In [7]:
df['v1'].value_counts()

v1
ham     4825
spam     747
Name: count, dtype: int64

In [9]:
df['spam'] = df['v1'].apply(lambda x: 1 if x=='spam' else 0)

In [10]:
df

        v1                                                 v2  spam
0      ham  Go until jurong point, crazy.. Available only ...     0
1      ham                      Ok lar... Joking wif u oni...     0
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...     1
3      ham  U dun say so early hor... U c already then say...     0
4      ham  Nah I don't think he goes to usf, he lives aro...     0
...    ...                                                ...   ...
5567  spam  This is the 2nd time we have tried 2 contact u...     1
5568   ham              Will Ì_ b going to esplanade fr home?     0
5569   ham  Pity, * was in mood for that. So...any other s...     0
5570   ham  The guy did some bitching but I acted like i'd...     0
5571   ham                         Rofl. Its true to its name     0

[5572 rows x 3 columns]

In [11]:
from sklearn.model_selection import train_test_split

X_train , x_test , y_train , y_test = train_test_split(df['v2'], df['spam'], test_size=0.2)

In [13]:
y_test

23      0
1801    0
2510    0
2259    0
4435    0
       ..
2395    0
5136    0
2030    0
2976    0
4146    0
Name: spam, Length: 1115, dtype: int64

In [16]:
from sklearn.feature_extraction.text import CountVectorizer

cv = CountVectorizer()

cv.fit_transform(X_train.values).toarray()

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [19]:
cv = CountVectorizer(ngram_range=(2,3))
cv.fit(['Iron man is looking for a job'])
cv.vocabulary_

{'iron man': 1,
 'man is': 7,
 'is looking': 3,
 'looking for': 5,
 'for job': 0,
 'iron man is': 2,
 'man is looking': 8,
 'is looking for': 4,
 'looking for job': 6}

In [22]:
import spacy 

nlp = spacy.load("en_core_web_sm")

def preprocess(text):
    doc = nlp(text)
    filter_text = []
    for token in doc:
        if token.is_stop or token.is_punct:
            continue
        filter_text.append(token.lemma_)
    
    return " ".join(filter_text)

In [23]:
preprocess("loki eats pizza")

'loki eat pizza'

In [25]:
corpus = ["thor eats pizza", "loki is chor","loki eats pizza"]

process_corpus = [preprocess(text) for text in corpus]

In [26]:
process_corpus

['thor eat pizza', 'loki chor', 'loki eat pizza']

In [28]:
v = CountVectorizer(ngram_range=(1,2))
v.fit(process_corpus)
v.vocabulary_

{'thor': 7,
 'eat': 1,
 'pizza': 6,
 'thor eat': 8,
 'eat pizza': 2,
 'loki': 3,
 'chor': 0,
 'loki chor': 4,
 'loki eat': 5}